fastapi
uvicorn[standard]
python-multipart
python-dotenv
openai
httpx
imageio-ffmpeg
faster-whisper
ctranslate2
numpy<2
scipy
soundfile
torchaudio
panns-inference==0.1.1
torchlibrosa==0.1.0
librosa==0.11.0
numba>=0.59,<0.62
llvmlite>=0.42,<0.45
PyYAML
sounddevice
torchvision
laion-clap
openai-whisper
